body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/300/523/722/hawaii-city-beach-desktop-wallpaper-%D0%A5%D0%94-2560%C3%971440-wallpaper-preview.jpg);
  
    background-size: 100% auto;
    background-width: 100%;
    background-height: 100%;
    text-align: center;
  }

  h1 {

    font-family: 'Pacifico', cursive;
    color: rgb(251, 255, 5);
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    text-align: center;
  }
  
  h2 {
    font-family: 'Golos Text', sans-serif;
    color: rgb(255, 163, 3);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .timer {
    font-family: 'Orbitron', sans-serif;
    color: rgb(25, 241, 90);
    font-size: 50px;
  }
  
  .home-btn {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1rem;  
    background: rgb(122, 250, 2);
  }